In [1]:
import pandas as pd

In [2]:
url='https://sta.ci.taiwan.gov.tw/STA_AirQuality_v2/v1.0/Datastreams?$expand=Thing,Observations($orderby=phenomenonTime%20desc;$top=1)&$filter=name%20eq%20%27PM2.5%27%20and%20Thing/properties/authority%20eq%20%27%E8%A1%8C%E6%94%BF%E9%99%A2%E7%92%B0%E5%A2%83%E4%BF%9D%E8%AD%B7%E7%BD%B2%27%20and%20substringof(%27%E7%A9%BA%E6%B0%A3%E5%93%81%E8%B3%AA%E6%B8%AC%E7%AB%99%27,Thing/name)&$count=true'

In [3]:
datas=pd.read_json(url)['value']
datas

0     {'description': '細懸浮微粒 PM2.5', '@iot.id': 11, ...
1     {'description': '細懸浮微粒 PM2.5', '@iot.id': 29, ...
2     {'description': '細懸浮微粒 PM2.5', '@iot.id': 47, ...
3     {'description': '細懸浮微粒 PM2.5', '@iot.id': 65, ...
4     {'description': '細懸浮微粒 PM2.5', '@iot.id': 83, ...
                            ...
72    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1307...
73    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1325...
74    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1343...
75    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1361...
76    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1379...
Name: value, Length: 77, dtype: object

In [4]:
len(datas)

77

### 取得縣市跟站點名稱

In [5]:
city,stationName=datas[0]['Thing']['properties']['city'],datas[0]['Thing']['properties']['stationName']
city,stationName

('基隆市', '基隆')

### 取得PM2.5跟更新時間

In [6]:
result,resultTime=datas[0]['Observations'][0]['result'],datas[0]['Observations'][0]['resultTime']
result,resultTime

(14, '2022-07-10T01:00:00.000Z')

### 輸出所有站點資料

In [7]:
values=[]
for data in datas:
    city,stationName=data['Thing']['properties']['city'],data['Thing']['properties']['stationName']
    result,resultTime=data['Observations'][0]['result'],data['Observations'][0]['resultTime']
    resultTime=pd.to_datetime(resultTime)

    print(city,stationName,result,resultTime)
    values.append([city,stationName,result,resultTime])

values

基隆市 基隆 14 2022-07-10 01:00:00+00:00
新北市 汐止 12 2022-07-10 01:00:00+00:00
新北市 萬里 11 2022-07-10 01:00:00+00:00
新北市 新店 10 2022-07-10 01:00:00+00:00
新北市 土城 7 2022-07-10 01:00:00+00:00
新北市 板橋 11 2022-07-10 01:00:00+00:00
新北市 新莊 9 2022-07-10 01:00:00+00:00
新北市 菜寮 11 2022-07-10 01:00:00+00:00
新北市 林口 12 2022-07-10 01:00:00+00:00
新北市 淡水 10 2022-07-10 01:00:00+00:00
臺北市 士林 17 2022-07-10 01:00:00+00:00
臺北市 中山 10 2022-07-10 01:00:00+00:00
臺北市 萬華 10 2022-07-10 01:00:00+00:00
臺北市 古亭 11 2022-07-10 01:00:00+00:00
臺北市 松山 11 2022-07-10 01:00:00+00:00
臺北市 大同 15 2022-07-10 01:00:00+00:00
桃園市 桃園 7 2022-07-10 01:00:00+00:00
桃園市 大園 5 2022-07-10 01:00:00+00:00
桃園市 觀音 3 2022-07-10 01:00:00+00:00
桃園市 平鎮 6 2022-07-10 01:00:00+00:00
桃園市 龍潭 6 2022-07-10 01:00:00+00:00
新竹縣 湖口 5 2022-07-10 01:00:00+00:00
新竹縣 竹東 6 2022-07-10 01:00:00+00:00
新竹市 新竹 3 2022-07-10 01:00:00+00:00
苗栗縣 頭份 2 2022-07-10 01:00:00+00:00
苗栗縣 苗栗 4 2022-07-10 01:00:00+00:00
苗栗縣 三義 6 2022-07-10 00:00:00+00:00
臺中市 豐原 4 2022-07-10 01:00:00+00:00
臺中市 沙鹿 3 2022-07-10 01:00:00+00:00
臺中市 大里 4 2022-07-10 01:00:00+00:00
臺中市 忠明 6 2022-07-10 01:00:00+00:00
臺中市 西屯 2 2022-07-10 01:00:00+00:00
彰化縣 彰化 0 2022-07-10 01:00:00+00:00
彰化縣 線西 9 2022-07-10 01:00:00+00:00
彰化縣 二林 1 2022-07-10 01:00:00+00:00
南投縣 南投 10 2022-07-10 01:00:00+00:00
雲林縣 斗六 9 2022-07-10 01:00:00+00:00
雲林縣 崙背 4 2022-07-10 01:00:00+00:00
嘉義縣 新港 10 2022-07-10 01:00:00+00:00
嘉義縣 朴子 0 2022-07-10 01:00:00+00:00
雲林縣 臺西 3 2022-07-10 01:00:00+00:00
嘉義市 嘉義 7 2022-07-10 01:00:00+00:00
臺南市 新營 11 2022-07-10 01:00:00+00:00
臺南市 善化 7 2022-07-10 01:00:00+00:00
臺南市 安南 6 2022-07-10 01:00:00+00:00
臺南市 臺南 4 2022-07-10 01:00:00+00:00
高雄市 美濃 8 2022-07-10 01:00:00+00:00
高雄市 橋頭 7 2022-07-10 01:00:00+00:00
高雄市 仁武 7 2022-07-10 01:00:00+00:00
高雄市 鳳山 8 2022-07-10 01:00:00+00:00
高雄市 大寮 7 2022-07-10 01:00:00+00:00
高雄市 林園 5 2022-07-10 01:00:00+00:00
高雄市 楠梓 3 2022-07-10 01:00:00+00:00
高雄市 左營 10 2022-07-10 01:00:00+00:00
高雄市 前金 8 2022-07-10 01:00:00+00:00
高雄市 前鎮 11 2022-07-10 01:00:00+00:00
高雄市 小港 8 2022-07-10 01:00:00+00:00
屏東縣 屏東 6 2022-07-10 01:00:00+00:00
屏東縣 潮州 4 2022-07-10 01:00:00+00:00
屏東縣 恆春 0 2022-07-10 01:00:00+00:00
臺東縣 臺東 5 2022-07-10 01:00:00+00:00
花蓮縣 花蓮 5 2022-07-10 01:00:00+00:00
臺北市 陽明 11 2022-07-10 01:00:00+00:00
宜蘭縣 宜蘭 13 2022-07-10 01:00:00+00:00
宜蘭縣 冬山 9 2022-07-10 01:00:00+00:00
新北市 三重 15 2022-07-10 01:00:00+00:00
桃園市 中壢 7 2022-07-10 01:00:00+00:00
南投縣 竹山 4 2022-07-10 01:00:00+00:00
新北市 永和 9 2022-07-10 01:00:00+00:00
高雄市 復興 10 2022-07-10 01:00:00+00:00
南投縣 埔里 2 2022-07-10 01:00:00+00:00
新北市 富貴角 6 2022-07-10 01:00:00+00:00
臺東縣 關山 0 2022-07-10 01:00:00+00:00
金門縣 金門 9 2022-07-10 01:00:00+00:00
連江縣 馬祖 8 2022-07-10 01:00:00+00:00
澎湖縣 馬公 2 2022-07-10 01:00:00+00:00
雲林縣 麥寮 0 2022-07-10 01:00:00+00:00

[['基隆市', '基隆', 14, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '汐止', 12, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '萬里', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '新店', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '土城', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '板橋', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '新莊', 9, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '菜寮', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '林口', 12, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '淡水', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '士林', 17, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '中山', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '萬華', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '古亭', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '松山', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '大同', 15, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['桃園市', '桃園', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['桃園市', '大園', 5, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['桃園市', '觀音', 3, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['桃園市', '平鎮', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['桃園市', '龍潭', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新竹縣', '湖口', 5, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新竹縣', '竹東', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新竹市', '新竹', 3, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['苗栗縣', '頭份', 2, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['苗栗縣', '苗栗', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['苗栗縣', '三義', 6, Timestamp('2022-07-10 00:00:00+0000', tz='UTC')],
 ['臺中市', '豐原', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺中市', '沙鹿', 3, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺中市', '大里', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺中市', '忠明', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺中市', '西屯', 2, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['彰化縣', '彰化', 0, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['彰化縣', '線西', 9, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['彰化縣', '二林', 1, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['南投縣', '南投', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['雲林縣', '斗六', 9, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['雲林縣', '崙背', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['嘉義縣', '新港', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['嘉義縣', '朴子', 0, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['雲林縣', '臺西', 3, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['嘉義市', '嘉義', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺南市', '新營', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺南市', '善化', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺南市', '安南', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺南市', '臺南', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '美濃', 8, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '橋頭', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '仁武', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '鳳山', 8, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '大寮', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '林園', 5, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '楠梓', 3, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '左營', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '前金', 8, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '前鎮', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '小港', 8, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['屏東縣', '屏東', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['屏東縣', '潮州', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['屏東縣', '恆春', 0, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺東縣', '臺東', 5, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['花蓮縣', '花蓮', 5, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺北市', '陽明', 11, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['宜蘭縣', '宜蘭', 13, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['宜蘭縣', '冬山', 9, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '三重', 15, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['桃園市', '中壢', 7, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['南投縣', '竹山', 4, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '永和', 9, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['高雄市', '復興', 10, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['南投縣', '埔里', 2, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['新北市', '富貴角', 6, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['臺東縣', '關山', 0, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['金門縣', '金門', 9, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['連江縣', '馬祖', 8, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['澎湖縣', '馬公', 2, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')],
 ['雲林縣', '麥寮', 0, Timestamp('2022-07-10 01:00:00+0000', tz='UTC')]]

In [8]:
df=pd.DataFrame(values,columns=['city','stationName','result','resultTime'])
df

   city stationName  result                resultTime
0   基隆市          基隆      14 2022-07-10 01:00:00+00:00
1   新北市          汐止      12 2022-07-10 01:00:00+00:00
2   新北市          萬里      11 2022-07-10 01:00:00+00:00
3   新北市          新店      10 2022-07-10 01:00:00+00:00
4   新北市          土城       7 2022-07-10 01:00:00+00:00
..  ...         ...     ...                       ...
72  臺東縣          關山       0 2022-07-10 01:00:00+00:00
73  金門縣          金門       9 2022-07-10 01:00:00+00:00
74  連江縣          馬祖       8 2022-07-10 01:00:00+00:00
75  澎湖縣          馬公       2 2022-07-10 01:00:00+00:00
76  雲林縣          麥寮       0 2022-07-10 01:00:00+00:00

[77 rows x 4 columns]

In [9]:
df.sort_values(by='result',ascending=False)

   city stationName  result                resultTime
10  臺北市          士林      17 2022-07-10 01:00:00+00:00
15  臺北市          大同      15 2022-07-10 01:00:00+00:00
65  新北市          三重      15 2022-07-10 01:00:00+00:00
0   基隆市          基隆      14 2022-07-10 01:00:00+00:00
63  宜蘭縣          宜蘭      13 2022-07-10 01:00:00+00:00
..  ...         ...     ...                       ...
39  嘉義縣          朴子       0 2022-07-10 01:00:00+00:00
59  屏東縣          恆春       0 2022-07-10 01:00:00+00:00
72  臺東縣          關山       0 2022-07-10 01:00:00+00:00
32  彰化縣          彰化       0 2022-07-10 01:00:00+00:00
76  雲林縣          麥寮       0 2022-07-10 01:00:00+00:00

[77 rows x 4 columns]

In [10]:
df['resultTime'].apply(pd.to_datetime)

0    2022-07-10 01:00:00+00:00
1    2022-07-10 01:00:00+00:00
2    2022-07-10 01:00:00+00:00
3    2022-07-10 01:00:00+00:00
4    2022-07-10 01:00:00+00:00
                ...
72   2022-07-10 01:00:00+00:00
73   2022-07-10 01:00:00+00:00
74   2022-07-10 01:00:00+00:00
75   2022-07-10 01:00:00+00:00
76   2022-07-10 01:00:00+00:00
Name: resultTime, Length: 77, dtype: datetime64[ns, UTC]

### 輸出六都平均值

In [13]:
df

   city stationName  result                resultTime
0   基隆市          基隆      14 2022-07-10 01:00:00+00:00
1   新北市          汐止      12 2022-07-10 01:00:00+00:00
2   新北市          萬里      11 2022-07-10 01:00:00+00:00
3   新北市          新店      10 2022-07-10 01:00:00+00:00
4   新北市          土城       7 2022-07-10 01:00:00+00:00
..  ...         ...     ...                       ...
72  臺東縣          關山       0 2022-07-10 01:00:00+00:00
73  金門縣          金門       9 2022-07-10 01:00:00+00:00
74  連江縣          馬祖       8 2022-07-10 01:00:00+00:00
75  澎湖縣          馬公       2 2022-07-10 01:00:00+00:00
76  雲林縣          麥寮       0 2022-07-10 01:00:00+00:00

[77 rows x 4 columns]

In [15]:
set(df['city'])

{'南投縣',
 '嘉義市',
 '嘉義縣',
 '基隆市',
 '宜蘭縣',
 '屏東縣',
 '彰化縣',
 '新北市',
 '新竹市',
 '新竹縣',
 '桃園市',
 '澎湖縣',
 '臺中市',
 '臺北市',
 '臺南市',
 '臺東縣',
 '花蓮縣',
 '苗栗縣',
 '連江縣',
 '金門縣',
 '雲林縣',
 '高雄市'}

In [16]:
six_citys=['臺北市','新北市','桃園市','臺中市','臺南市','高雄市']
six_citys

['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市']

In [21]:
round(df.groupby('city').get_group(six_citys[-1])['result'].mean(),2)

7.67

In [23]:
for city in six_citys:
    print(city,round(df.groupby('city').get_group(city)['result'].mean(),2))

臺北市 12.14
新北市 10.25
桃園市 5.67
臺中市 3.8
臺南市 7.0
高雄市 7.67

### 全台不重複縣市

In [27]:
list(set(df['city']))

['彰化縣',
 '臺北市',
 '嘉義縣',
 '澎湖縣',
 '高雄市',
 '新北市',
 '基隆市',
 '南投縣',
 '臺東縣',
 '臺南市',
 '新竹市',
 '連江縣',
 '雲林縣',
 '宜蘭縣',
 '屏東縣',
 '嘉義市',
 '苗栗縣',
 '桃園市',
 '臺中市',
 '花蓮縣',
 '金門縣',
 '新竹縣']

### 取得單一縣市所有站點PM2.5值

In [35]:
datas=df.groupby('city').get_group('新北市')[['stationName','result']].values.tolist()
datas

[['汐止', 12],
 ['萬里', 11],
 ['新店', 10],
 ['土城', 7],
 ['板橋', 11],
 ['新莊', 9],
 ['菜寮', 11],
 ['林口', 12],
 ['淡水', 10],
 ['三重', 15],
 ['永和', 9],
 ['富貴角', 6]]

In [39]:
stationName,result=list(zip(*datas))
stationName,result

(('汐止', '萬里', '新店', '土城', '板橋', '新莊', '菜寮', '林口', '淡水', '三重', '永和', '富貴角'),
 (12, 11, 10, 7, 11, 9, 11, 12, 10, 15, 9, 6))

In [40]:
stationName=[data[0] for data in datas]
stationName

['汐止', '萬里', '新店', '土城', '板橋', '新莊', '菜寮', '林口', '淡水', '三重', '永和', '富貴角']

In [41]:
result=[data[-1] for data in datas]
result

[12, 11, 10, 7, 11, 9, 11, 12, 10, 15, 9, 6]